<!DOCTYPE html>
<html>
  <head>
    <title>FridayNoon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="manifest" href="/manifest.json">
  </head>

  <body>
  <button class="js-push-button">Send a message</button>

  <script type="text/javascript">
      (function() {
          $('.js-push-button').on("click", function onClick() {
              $.post("/push");
          });
      })();
  </script>

  <%= yield %>
  </body>
</html>
